torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
librosa==0.10.1
numpy>=1.24.0
pandas>=2.0.0
scikit-learn>=1.2.0
matplotlib>=3.7.0
pyyaml>=6.0
tqdm
kaggle  # DOWNLOAD DATA SCRIPT
opencv-python-headless  #RESIZING


